.container {
  width          : 100%;
  height         : 100vh;
  text-align     : center;
  font-family    : 'Pokemon Solid', sans-serif;
  background     : url("https://wallpaperaccess.com/full/20997.jpg") no-repeat center;
  background-size: cover;
}

.textContainer {
  width          : 50%;
  color          : #ffcb02;
  font-weight    : 100;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.textStyle {
  font-weight: 100;
}

.linkStyle {
  font-weight    : 100;
  color          : blue;
  text-decoration: underline;
}